<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
      <!-- add this -->
    </modules>
    <handlers>
      <remove name="WebDAV" />
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="IOTHubConnectionString" value="HostName=Rutu-HomeTest.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=CPY1xvYbuWhq/Sr5RBhnRdhtzbwTkT/A0OlG5c3+V3Q=" />
    <add key="FireBaseConnectionString" value="AAAAThvUdC0:APA91bHOTXaIdl5kN-xlFTvdw-HhViBkhsN_MotxYYAtaOL2GzbU_lL_w7qcR5ZxA0XTRflw5bX-GHv8URsXuZR0jgaJRoRFfBR1pHfMpirWOOxLfRlDWDJFd7WH_KcWpR5V3MODiGb-" />
    <add key="EndPoint" value="messages/events" />
    <add key="PushNotificationSenderId" value="460366802812" />
    <add key="RegisteredDeviceForPushNotification" value="fNPbEnTjliE:APA91bE8u6IUNo2m_kgxWOr7tO_Tocoq_ot9ADMrK8HKUKejZ_q9e5_RyHEpGWaV7XY7VA6KblIg1L_EN92sSFe9KtkLXhFa9wvjH_wc-B7_Y28fVsWbKbYeD4QT2CCZPPnhViLzF22w" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.2" newVersion="4.1.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Serialization.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
